/*specification*/

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 0, 0, .5);
}


ul, li {
    display: block;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
}

.container {
    /*width: 1000px;*/
    margin: auto;
}

/* ul-treefree */
ul.ul-treefree {
    padding-left: 25px;
}

ul.ul-treefree ul {
    margin: 0;
    padding-left: 6px;
}

ul.ul-treefree li {
    position: relative;
    list-style: none outside none;
    border-left: solid 1px #999;
    margin: 0;
    padding: 0 0 0 19px;
    line-height: 23px;
}

ul.ul-treefree li:before {
    content: '';
    display: block;
    border-bottom: solid 1px #999;
    position: absolute;
    width: 18px;
    height: 11px;
    left: 0;
    top: 0;
}

ul.ul-treefree li:last-child {
    border-left: 0 none;
}

ul.ul-treefree li:last-child:before {
    border-left: solid 1px #999;
}

/* ul-dropfree */
ul.ul-dropfree div.drop {
    width: 11px;
    height: 11px;
    position: absolute;
    z-index: 10;
    top: 6px;
    left: -6px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC');
    background-position: -11px 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.content_wrapper {
    width: 1000px;
    margin: auto;
    background-color: #00ffff;
    /*display: block;*/
    /*content: ' ';*/
}

.header h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.center {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.inputElement {
    max-width: 200px;
    margin-top: 10px;
}

.workElement {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main_section {
    display: flex;
    flex-direction: column;
    background-color: #999999;
}

.card {
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
}

.card_img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    border: 2px solid #b5e9a7;
    border-radius: 20px;
    position: relative;

    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 300px;
    position: relative;
    /*top: -300px;*/
}

.price_ingrid {
    display: flex;
}


.card__wrapper {
    /*position: relative;*/
    width: 100%;
    height: 100%;
}

.card__content {
    /*position: absolute;*/
    /*z-index: 1;*/
    /*top: 20px;*/
    width: 100%;
    height: 100%;
    color: aqua;
}

.card__content_title {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    font-size: 24px;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline #00ffff;
}

.card__content_price {
    width: 30%;
    height: 100%;
    padding-left: -10px;
    white-space: nowrap;
    margin-right: 7px;
}

.card__content_items {
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    /*top: 200px;*/
    /*right: 0;*/
    color: #ffff00;
    /*box-shadow: 0 0 10px rgba(12,250,12, 0.5);*/
    background: rgba(123,123,123, .8);
    font-size: 18px;
    font-weight: bold;
    transform: translate(12px, 10px);

    /*z-index: 2;*/
}

.card__main_wrapper {
    display: block;
    height: 300px;
    width: 300px;
    margin: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel {
    width: 100%;
    max-width: 60em;
    height: 22em;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slide {
    width: 80%;
    max-width: 50em;
    height: 100%;
    margin: 3em auto 0 auto;
    display: none;
}

.prev-slide, .next-slide {
    padding: 0.8em 1em;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0.3em;
    cursor: pointer;
    position: absolute;
    top: 8em;
}

.prev-slide {
    left: 0.5em;
}

.next-slide {
    right: 0.5em;
}

.prev-slide:hover, .next-slide:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.slide_image {
    /*width: 500px;*/
    /*margin-left: 250px;*/
}
.slide_img_content {
    max-width: 500px;
    height: 100%;
    object-fit: cover;
    /*margin-left: 250px;*/
}
.nav_bar{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.container__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

